### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.goreload
.idea
config_dev.yaml
config_dev_uat.yaml
config_dev_prd.yaml
*.env
.env.dev
.env.prd
.env.uat

temp.txt
cert
docker-compose-update.yml
